@import "~sass/abstracts/variables";
@import "~sass/abstracts/mixins";

.university {
    &__lowres {
        display: none;
    
        @include respond(tab-port) {
          display: initial;
        }
      }
    
      &__highres {
        display: initial;
    
        @include respond(tab-port) {
          display: none;
        }
      }
    
      &__period {
        font-size: $secondary-font-size;
        &-prefix {
          margin: 1rem 0 0 0;
          font-size: $secondary-font-size;
        }
      }
    
      &__hr {
        @include hr;
      }
    
      &__header {
        font-size: $default-header-size;
      }
    
      &__heading {
        font-size: $tertiary-header-size;
        font-weight: bold;
      }

      &__description {
        font-size: $default-font-size;
      }
    
      &__item:not(:last-child) {
        margin-bottom: 2rem;
    
        @include respond(tab-port) {
          margin: 0;
        }
      }
    
      &__logo > img {
        width: 100%;
        height: auto;
      }
    
      &__sublist {
        list-style-type: circle;
        & > li {
          margin: 0 0 0 3rem;
          font-size: $secondary-font-size;
        }
      }

      &__credits {
          display: block;
          font-size: $secondary-font-size;
      }
}