<div class="work-course">
  <div class="work-course__header">{{ sectionHeader}}</div>
  <div class="work-course__list">
    <hr class="work-course__hr" />
    <div class="work-course__item" *ngFor="let item of workCourses">
      <!-- row -->
      <div class="custom-row">

        <!-- low resolution -->
        <div class="work-course__lowres">
          <div class="col-3-of-4">
            <div class="work-course__heading">
              {{ item.Heading }}
            </div>
            <div class="work-course__description">
              {{ item.Description }}
            </div>
            <ul class="work-course__sublist">
              <li calss="work-course__sublist-subitem" *ngFor="let subListItem of item.List">{{ subListItem }}</li>
            </ul>
          </div>

          <div class="col-1-of-4">
            <div class="work-course__logo view hm-green-slight waves-dark" mdbWavesEffect>
              <img src="{{ item.Logo }}" alt="logo" />
            </div>
            <div class="work-course__period u-center-text">
              <div class="work-course__period-prefix">{{ item.Prefix }}</div>
              {{ item.From }} {{ item.Dividor }} {{ item.To }}
              <span class="work-course__credits">{{ item.Credits }}</span>
            </div>
          </div>
        </div>

        <!-- high resolution -->
        <div class="work-course__highres">
          <div class="col-1-of-4">
            <div class="work-course__logo view hm-green-slight waves-dark" mdbWavesEffect>
              <img src="{{ item.Logo }}" alt="logo" />
            </div>
            <div class="work-course__period u-center-text">
              <div class="work-course__period-prefix">{{ item.Prefix }}</div>
              {{ item.From }} {{ item.Dividor }} {{ item.To }}
              <span class="work-course__credits">{{ item.Credits }}</span>
            </div>
          </div>

          <div class="col-3-of-4">
            <div class="work-course__heading">
              {{ item.Heading }}
            </div>
            <div class="work-course__description">
              {{ item.Description }}
            </div>
            <ul class="work-course__sublist">
              <li calss="work-course__sublist-subitem" *ngFor="let subListItem of item.List">{{ subListItem }}</li>
            </ul>
          </div>
        </div>

      </div>
      <!-- /row -->
    </div>
  </div>
</div>