<div class="custom-row">

  <div class="col-1-of-2">
    <div class="profile">
      <div class="profile__header u-center-text">
        Profile
      </div>
      <div class="profile__listwrapper">
        <div>
          <table class="profile__table" *ngIf="profileItems" @profileAnimation>
            <tr class="profile__row" *ngFor="let item of profileItems">
              <td class="profile__cell">{{item.description}}</td>
              <td class="profile__cell">{{item.text}}</td>
            </tr>
          </table>
        </div>
        <div class="profile__links u-center-text u-margin-top-small">
          <i class="fa fa-linkedin"></i>
          <i class="fa fa-facebook-square"></i>
          <i class="fa fa-github"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="col-1-of-2">
    <div class="card">
      <div class="view hm-white-slight waves-light" mdbWavesEffect>
        <img src="assets/images/keyboard.jpg" class="img-cover" alt="Card image with a tree in a middle of a lake.">
      </div>
    </div>
  </div>

</div>