<div class="custom-row">

  <div class="col-1-of-2">
    <div class="profile">
      <div class="profile__header u-center-text">
        Profile
      </div>
      <div class="profile__listwrapper">
        <div>
          <table class="profile__table" *ngIf="profileData" @profileAnimation>
            <tr class="profile__row" *ngFor="let data of profileData">
              <td class="profile__cell">{{ data.key }}</td>
              <td class="profile__cell">{{ data.value }}</td>
            </tr>           
          </table>
        </div>
        <div class="profile__links u-center-text u-margin-top-small">
          <a href="{{ linkedInUrl }}" target="_blank">
            <i class="fa fa-linkedin"></i>
          </a>
          <a href="{{ facebookUrl }}" target="_blank">
            <i class="fa fa-facebook-square"></i>
          </a>
          <a href="{{ githubUrl }}" target="_blank">
            <i class="fa fa-github"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-1-of-2">
    <div class="card">
      <div class="view hm-white-slight waves-light" mdbWavesEffect>
        <img src="assets/images/keyboard.jpg" class="img-cover" alt="Computer keyboard.">
      </div>
    </div>
  </div>

</div>