@import "~sass/abstracts/variables";
@import "~sass/abstracts/mixins";

.general {
  &__header {
    font-size: $default-header-size;
  }

  &__description {
    font-size: $default-font-size;
  }

  &__language {
    &__header {
      font-size: $secondary-header-size;
    }

    &__item {
      font-size: $default-font-size;
      margin-left: 2rem;

      &::before {
        content: "• ";
        color: $color-primary;
      }
    }
  }

  &__hr {
    @include hr;
  }
}
