<div class="navbar-wrapper">
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black" [containerInside]="false">
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link waves-light" [routerLink]="['/about']" mdbWavesEffect>About</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link waves-light" [routerLink]="['/education']" mdbWavesEffect>Education</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link waves-light" [routerLink]="['/skills']" mdbWavesEffect>Skills</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link waves-light" [routerLink]="['/contact']" mdbWavesEffect>Contact</a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
</div>