<div class="navigation u-box-shadow">
  <nav class="navigation__nav">
    <ul class="navigation__list">
      <a class="navigation__link">
        <li class="navigation__item" [routerLinkActive]="['link-active']" [routerLink]="['/about']">
          About
        </li>
      </a>
      <a class="navigation__link">
        <li class="navigation__item" [routerLinkActive]="['link-active']" [routerLink]="['/education']">
          Education
        </li>
      </a>
      <a class="navigation__link">
        <li class="navigation__item" [routerLinkActive]="['link-active']" [routerLink]="['/skills']">
          Skills
        </li>
      </a>
      <a class="navigation__link">
        <li class="navigation__item" [routerLinkActive]="['link-active']" [routerLink]="['/contact']">
          Contact
        </li>
      </a>
    </ul>
  </nav>
</div>