@import "~sass/abstracts/variables";
@import "~sass/abstracts/mixins";

.navbar-wrapper {
  margin: 1rem 0 1rem 0;
}

.dropdown-item {
  font-size: 1.5rem !important;
}

.icon-color {
  color: $color-primary-light;
}

.nav-item:not(:first-child) {
  margin-left: 1rem;

  @include respond(tab-port) {
    margin-left: 0;
  }
}