<div class="navbar-wrapper">
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black" [containerInside]="false">
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link waves-light" [routerLink]="['/about']" mdbWavesEffect>
            <i class="fa fa-address-card icon-color"></i>
            About
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link waves-light" [routerLink]="['/education']" mdbWavesEffect>
            <i class="fa fa-graduation-cap icon-color"></i>
            Education
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link waves-light" [routerLink]="['/skills']" mdbWavesEffect>
            <i class="fa fa-code icon-color"></i>
            Skills
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link waves-light" [routerLink]="['/contact']" mdbWavesEffect>
            <i class="fa fa-envelope-o icon-color"></i>
            Contact
          </a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
</div>